.body {
  background: #EFEFF2;
  margin: 0;
  color: #19191c;
  font: 400 18px/28px Inter, sans-serif;

  /* background-image: url('./img/gradient.png');; */
  /* background-color: rgba(239, 239, 242, 1); */
}
