

.container{
  max-width: 1440px;
  margin: 0 auto;

}

header{
  display: flex;
  padding: 36px 0 0;
  justify-content: space-between;
}

header__box{
 display: flex;
}


.nav__list{
  display: flex;
  list-style: none;
  gap: 48px;
  padding: 0;
  margin: 0;
}

btn__box{
  display: flex;
}
logo{
  display: flex;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  gap: 14px;
  color: #19191C;
}
