.learn {
  display: flex;
  /* flex-wrap: wrap; */

  justify-content: space-evenly;
  margin-top: -35px;
  gap: 40px;
  height: 589px;

  background: black;
  color: aliceblue;
  font-family: "Inter";
}
.learn__title {
  margin-top: 168px;
  font-family: Inter;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.learn__counters {
  margin-top: 110px;
  font-family: Inter;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.learn__counter-descript {
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.horizontal-line {
  width: 176px;
  height: 4px;
  background-color: white;
  border: none;
  margin: 0 auto;
}

.discover__title {
  padding-top: 118px;
  max-width: 594px;
  min-width: 350px;
  font-family: Inter;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.discover__block {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  align-items: center;
}
.discover__list {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  list-style: none;
  gap: 48px;
  padding: 0;
  margin: 0;
}
.discover__button {
  border: none;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}
.discover__button-see {
  display: flex;
  text-decoration: none;
  align-items: center;
  text-align: center;
}

.discover__cards {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.discover__card-item {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}

@media screen and (max-width: 850px) {
  .learn {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: space-evenly;
    margin-top: -35px;
    gap: 20px;
    height: auto;
    padding-bottom: 10px;
    background: black;
    color: aliceblue;
    font-family: "Inter";
  }
  .learn__title {
    margin-top: 16px;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .learn__counters {
    margin-top: 10px;
    font-family: Inter;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .discover__cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
  }
  .discover__block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
  }
  .discover__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    gap: 48px;
    padding: 0;
    margin: 0;
  }
}
